<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to QuotingDojo</h1>
	<form action="/quotes" method="post">
		<div id="name">
			<label for="name">Your Name: </label>
			<input type="text" name="name" id="">
		</div><br>
		
		<div id="quote">
			<label for="quote">Your Quote:</label>
			<textarea name="quote"></textarea>
		</div>
        <input type="submit" value="Submit">
        <button><a href="/quotes">Skip to quotes!</a></button>
	</form>
</body>
</html>